[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9"
pytest = "==5.4.1"

[packages]
gunicorn = "==20.0.4"
webob = "==1.8.6"
parse = "==1.15.0"
requests = "==2.23.0"
requests-wsgi-adapter = "==0.4.1"
jinja2 = "==2.11.1"

[requires]
python_version = "3.8"
